.sectionDefaultContainer {
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.sectionDefaultHeader {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  padding: 10px 15px 15px 15px;
  outline: none;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.sectionDefaultHeader h1 {
  font-size: 17px;
  color: rgb(255, 255, 255, 0.7);
}

.musicCardDefaultGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .sectionDefaultContainer {
    padding: 0 15px 20px;
  }

  .musicCardDefaultGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .musicCardDefaultGrid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .sectionDefaultContainer {
    padding: 0 10px 20px;
  }
}
