.sectionContainer {
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sectionHeader {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 10px 15px 15px 15px;
  margin-top: 30px;
  background-color: rgba(66, 66, 117, 0.219);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.sectionHeader.editing {
  border-color: rgb(255, 255, 255, 0.7);
}

.sectionHeader h1 {
  font-size: 17px;
  color: rgb(255, 255, 255, 0.7);
}

.sectionHeader h1:hover {
  color: white;
}

.deleteIcon {
  all: unset;
  transform: translateY(2px);
  font-size: 18px;
  color: rgb(255, 255, 255, 0.7);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sectionContainer input {
  font-size: 17px;
  color: rgb(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  outline: none;
  width: auto;
  padding-left: 20px;
}

.sectionContainer input:focus {
  background-color: transparent;
  color: white;
}

.deleteIcon:hover {
  color: white;
}

.deleteIcon:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
  color: white;
}

.musicCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* responsive */
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

.editableTextWrapper {
  flex-grow: 1;
  max-width: 100%;
}

.editable-text,
.editable-input {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .sectionContainer {
    padding: 0 15px 20px;
  }

  .musicCardGrid {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .sectionHeader {
    width: 100%;
    left: 0;
    transform: none;
  }

  .editableTextWrapper {
    flex-grow: 1;
    min-width: 0; /* pour que le h1 wrappe bien si nécessaire */
  }

  .editable-text {
    word-break: break-word;
    white-space: normal;
  }
}

@media (max-width: 500px) {
  .musicCardGrid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .sectionContainer {
    padding: 0 10px 20px;
  }
}
